/*
Used to style the post and page TinyMCE editor.
*/


/* RESET STYLESHEET */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, ins, mark, 
em, img, q, small, strong, sub, sup, b, dl, dt, dd, ol, ul, li, table, caption, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	vertical-align:baseline;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}


/* BODY */
body {background:none; color:#333; font-family:'Open Sans', sans-serif; font-size:15px; line-height:1.5; word-wrap:break-word;}


/* HEADINGS */
h1 {clear:both; margin:0 0 10px; font-size:2.2em; line-height:1.25;}
h2 {clear:both; margin:0 0 10px; font-size:1.75em; line-height:1.25;}
h3 {clear:both; margin:0 0 10px; font-size:1.45em; line-height:1.5;}
h4 {clear:both; margin:0 0 10px; font-size:1.2em; line-height:1.5;}
h5 {clear:both; margin:0 0 10px; font-size:1em; line-height:2;}
h6 {clear:both; margin:0 0 10px; font-size:0.8em; line-height:2;}


/* LINKS AND HTML TAGS */
a {text-decoration:none; color:#21759b;}
a:hover {text-decoration:underline;}

strong, b {font-weight:bold;}
small {font-size:0.8em;}
big {font-size:1.2em;}
sub {vertical-align:sub; font-size:0.9em;}
sup {vertical-align:super; font-size:0.9em;}
ins, mark {font-weight:bold; background:none; text-decoration:none; color:#21759b;}
cite, em, abbr, acronym {font-style:italic;}
code, kbd, samp, var {font-family:monospace, monospace;}
pre {margin:0 0 10px; padding:5px 10px; white-space:pre-wrap; border:1px solid #999;}
blockquote, q {margin:0 0 10px; padding:0 0 0 20px; display:block; font-size:1.2em; font-style:italic; border-left:2px solid #999;}
address {margin:0 0 10px; font-style:italic;}
p {margin:0 0 10px;}
hr {height:1px; background:#999; border:0; margin:15px 0;}


/* ALIGNMENTS */
.alignright {float:right; display:inline; margin-left:1em;}
.alignleft {float:left; display:inline; margin-right:1em;}
.aligncenter {clear:both; display:block; margin-left:auto; margin-right:auto;}


/* TABLE AND LISTS */
table {margin:0 0 10px; border-collapse:collapse;}
table, th, td {border:1px solid #999; padding:5px 10px;}
table th {font-weight:bold;}

ul {list-style:square; margin:0 0 10px;}
ol {list-style:decimal; margin:0 0 10px;}
li {margin:0 0 0 20px;}
li > ul, li > ol {margin:0;}
dl {margin:0 0 10px;}
dt {font-weight:bold;}
dd {margin:0 0 0 20px;}


/* IMAGE AND VIDEO */
img {max-width:100%; height:auto;}