h1, h2, h3, h4, h5, h6 {
    text-decoration: none !important;
    font-style: normal !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    font-family: "Open Sans", sans-serif !important;
}

.customize-control-image .actions {
    margin-bottom: 0;
}

.customize-control {
    margin-bottom: 0;
}

input[type=number].cs-range-value {
    background: white;
    color: black;
    padding: 0 10px;
    text-align: center;
    font-size: 10px;
}

input[type=range] {
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
    -webkit-appearance: none;
    background-color: #fdfdfd;
    height: 5px;
    margin-right: 5%;
    padding: 0;
}

label {
    font-size: 12px;
    position: relative;
}

input, input[type=text], input[type=number], textarea {
    width: 100%;
    margin-left: 0;
    border-radius: 3px;
    box-shadow: none;
    background: #ffffff;
    border: 1px solid #a6adbd;
    padding: 5px 10px;
    font-size: 14px;
    color: #32373c;
}

textarea {
    background: #fff;
}

input:focus, select:focus {
    box-shadow: none !important;
    outline: none !important;
    background: #eaeaea;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
}

.wp-full-overlay-header input {
    width: auto;
}

input[type=range]:focus {
    box-shadow: none !important;
    outline: none !important;
}

input[type=range] {
    background-color: rgba(81, 124, 191, 0.4);
    border: 0;
}

input[type=range]:hover {
    background-color: rgb(81, 124, 191);
    border: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #16aaff;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent;
}

input[type="range"]::-ms-track {
    border: inherit;
    color: transparent;
    background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 3px;
    background-color: #16aaff;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 3px;
    background-color: #16aaff;
}

input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 0;
    background-color: #16aaff;
}

input[type="checkbox"] {
    border-radius: 2px;
    box-shadow: none;
    transition: all ease-in-out 400ms;
    margin: 0 5px 0;
    position: relative;
    border: 0 !important;
    background: url('data:image/svg+xml;utf8,<svg class="bi bi-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/> </svg>');
    vertical-align: text-top
}

input[type="checkbox"]:checked {
    border: 0 !important;
    transition: all ease-in-out 400ms;
    background: url('checked.svg');
}

input[type="checkbox"]::before {
    display: none;
!important;
    content: "\f560";
    margin: 0.05rem 0 0 -.65rem;
    height: 1.3125rem;
    width: 1.3125rem;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 800;
    font-size: 10px;
    color: transparent;
    transition: all ease-in-out 400ms;
    position: absolute;
}

input[type="checkbox"]:checked::before {
    color: #3399ff;
    display: none;
}

input[type="radio"] {
    transition: all ease-in-out 400ms;
}

input[type="radio"]:checked {
    border: 1px solid #3399ff !important;
}

input[type="radio"]:checked::before {
    background-color: #3399ff !important;
    transition: all ease-in-out 400ms;
}

.customize-control-title {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 12px;
}

.customize-control-range .customize-control-title {
    margin-bottom: -8px;
}

.customize-control-checkbox {
    font-weight: 600;
    font-size: 12px;
    border: 1px solid #EEEEEE;
    background-color: #ffffff;
    margin-bottom: -1px;
    padding: 6px 10px;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.customize-control button.button {
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: #2E86B9;
    color: #fff;
    height: 30px;
}

.customize-control button.button:hover {
    color: #fff;
    background-color: #186EA0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.customize-control button.remove-button {
    margin-bottom: 10px;
}

.customize-control select, .customize-control-text input {
    background: #ffffff;
    border: 1px solid #a6adbd;
    border-radius: 3px !important;
    height: 35px;
}

.customize-control textarea {
    border: 1px solid #a6adbd;
    border-radius: 3px !important;
}

.customize-control select {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #ffffff url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB3aWR0aD0iMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQwOCAxMDg4cTAgMjYtMTkgNDVsLTQ0OCA0NDhxLTE5IDE5LTQ1IDE5dC00NS0xOWwtNDQ4LTQ0OHEtMTktMTktMTktNDV0MTktNDUgNDUtMTloODk2cTI2IDAgNDUgMTl0MTkgNDV6bTAtMzg0cTAgMjYtMTkgNDV0LTQ1IDE5aC04OTZxLTI2IDAtNDUtMTl0LTE5LTQ1IDE5LTQ1bDQ0OC00NDhxMTktMTkgNDUtMTl0NDUgMTlsNDQ4IDQ0OHExOSAxOSAxOSA0NXoiLz48L3N2Zz4=") right 8px center no-repeat;
    background-size: 14px !important;
}

.customize-control select option {
    padding: 5px;
}

.customize-control-image .inner {
    line-height: 30px;
    top: 0;
}

.customize-control-image .current .container {
    min-height: 30px;
}

.wp-color-result {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 40px;
    border: 1px solid #a6adbd !important;
    height: 30px;
    border-radius: 4px;
    margin: 0;
}

.wp-color-result:after {
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    height: 30px;
    line-height: 30px;
    border: none;
    box-shadow: none;
    font-size: 12px;
    border-radius: 0 4px 4px 0;
    padding: 0 15px;
}

.wp-color-result:hover, .wp-color-result:focus:after, .wp-color-result:hover:after {
    color: #fff;
    border: none;
}

.wp-picker-container .iris-picker {
    margin: 15px 0 0 0;
}

.wp-picker-container, .wp-picker-input-wrap {
    width: 100%;
}

.wp-picker-open + .wp-picker-input-wrap {
    display: flex !important;
}

.color-picker-hex.wp-color-picker {
    width: 100px !important;
    margin-right: 5px !important;
    text-align: center;
}

.wp-core-ui .wp-picker-default {
    margin-left: 10%;
}

#customize-control-site_logo .thumbnail, #customize-control-site_logo_footer .thumbnail {
    text-align: center;
}

#customize-control-site_logo img, #customize-control-site_logo_footer img {
    width: auto;
    max-width: 100%;
}

.attire-sb-layout input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.attire-sb-layout img {
    width: 90px;
}

.attire-sb-layout input[type="radio"] + img {
    border: 2px solid #c0c0c0;
}

.attire-sb-layout input[type="radio"]:checked + img {
    border: 2px solid #4b82e0;
    cursor: pointer;
}

.attire-image-picker input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.attire-image-picker .card {
    padding: 0;
}

.attire-image-picker .card .card-header {
    padding: 10px;
    font-weight: 700;
    border-bottom: 1px solid #dddddd;
}

.attire-image-picker .card .card-body {
    padding: 0;
}

.attire-image-picker img {
    width: 100%;
    margin: 0;
    transition: all 1s ease;
}

/*.attire-image-picker img:hover{transform: scale(1.25);}*/
.attire-image-picker input[type="radio"] + img {
    border: 2px solid #c0c0c0;
}

.attire-image-picker input[type="radio"]:checked + .card,
.attire-image-picker input[type="radio"]:checked + img {
    border: 2px solid #337cfa;
    cursor: pointer;
}

.heading-font-preview, .body-font-preview, .widget_title-font-preview, .widget_content-font-preview,
.menu_top-font-preview, .menu_dropdown-font-preview {
    margin-top: 10px;
    padding: 10px;
    background: #f5f5f5;
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.7, .7, .7);
        transform: scale3d(.7, .7, .7);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.7, .7, .7);
        transform: scale3d(.7, .7, .7);
    }
    50% {
        opacity: 1;
    }
}

#accordion-section-attire_write_review .accordion-section-title {
    background-color: #ffe184;
    color: #222222;
}

#sub-accordion-section-header_image .customize-inside-control-row {
    margin-left: 0;
}

.attire-responsive-wrapper {
    display: none;
}

.attire-responsive-wrapper.active {
    display: table !important;
    width: 100%;
}

.attire-responsive-icons .active {
    color: #000000;
}

.wp-core-ui select {
    max-width: 100%;
}