.woocommerce-loop-product__title {
    margin: 0 0 5px 0;
    font-size: 12pt;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    font-size: 11pt;
}

.added_to_cart.wc-forward {
    position: absolute;
    z-index: 99;
    top: 75%;
    right: 10px;
    text-transform: uppercase;
    font-size: 13px;
}

.woo-product-card {
    border-radius: 4px;
    overflow: hidden;
}

.woocommerce span.onsale {
    left: 10px;
    top: 10px;
    min-height: 24px !important;
    line-height: 23px !important;
    padding: 0 10px !important;
    border-radius: 2px !important;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400 !important;
    letter-spacing: 1px;
    background-color: var(--green) !important;
}

.woocommerce .loop span.onsale {
    left: 0;
    top: 0;
}

.woocommerce .product-subtotal {
    text-align: right;
}

.woocommerce th.product-remove {
    width: 30px;
}

.button.card-footer.bg-primary.btn.btn-primary.btn-block.border-0.p-3 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.button.card-footer.bg-primary.btn.btn-primary.btn-block.border-0.p-3.loading:after {
    top: 1.1em !important;
}

.woocommerce a.button.loading::after, .woocommerce button.button.loading::after, .woocommerce input.button.loading::after, .woocommerce #respond input#submit.loading::after {
    top: unset !important;
}

.woocommerce a.remove {
    font-size: 1.4em !important;
}

.woocommerce a.remove, .product-name a, .woo-product-card a, .woocommerce a.remove, .woo-product-card a {
    text-decoration: none !important;
}

.woocommerce table {
    padding: 0;
    border-spacing: 0 !important;
    background: #ffffff;
}

.woocommerce table th,
.woocommerce table td {
    border-top: 0 !important;
}

table.variations {
    background: transparent;
}

table.variations td, table.variations tr {
    border: 0 !important;
    vertical-align: middle;
    text-transform: capitalize;
}

table.variations label {
    margin: 0;
}

.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    margin-left: 0;
    padding: 20px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tr:last-child th,
.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tr:last-child td {
    border-bottom: 0 !important;
}

.woocommerce-table.woocommerce-table--order-details.shop_table.order_details thead th {
    padding: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04) !important;
    font-weight: 600;
}

.woocommerce table.shop_table,
.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
    border: 0;
}

.woocommerce table.shop_table th {
    background: rgba(0, 0, 0, 0.04);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.woocommerce table.shop_table td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.woocommerce table.cart .quantity .qty {
    width: 60px !important;
    padding: 3px 5px !important;;
    border-radius: 2px !important;
    font-size: 11px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img {
    margin: 0;
}

.woocommerce input#coupon_code {
    width: 125px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce .button {
    color: rgba(255, 255, 255, 0.8) !important;;
}

.woocommerce .button:hover {
    color: rgba(255, 255, 255, 2) !important;;
}

.woocommerce .button:disabled:hover {
    background: #1a2228 !important;;
}

.woocommerce .cart-collaterals h2 {
    margin: 0;
    background: rgba(0, 0, 0, 0.07);
    padding: 10px;
    font-weight: 600;
    font-size: 11pt;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px 3px 0 0;
}

.woocommerce .cart-collaterals .shop_table.shop_table_responsive td {
    border-top: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.woocommerce .cart-collaterals label {
    font-weight: 400 !important;
}

.woocommerce .cart-collaterals strong {
    font-weight: 500 !important;
}

.woocommerce .cart-collaterals table.shop_table {
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}

/***
Checkout
 */
.checkout.woocommerce-checkout label,
.checkout.woocommerce-checkout .woocommerce-input-wrapper {
    display: block;
    width: 100%;
    float: none;
}

.checkout.woocommerce-checkout label {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}

.checkout.woocommerce-checkout h3 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.03);
    padding: 10px;
    color: #1a2228;
    border-bottom: 3px solid #1a2228 !important;;
}

.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table {
    border: 0;
    background: rgba(28, 74, 168, 0.79);
    padding: 0px !important;
    color: #fff;
    border-spacing: 0 !important;
}

.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table * {
    color: #fff;
}

.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table th,
.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table td {
    margin: 0;
    border-top: 0;
    border-spacing: 0 !important;
    background: transparent !important;;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}

.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table tr:not(.cart_item):last-child td,
.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table tr:last-child th {
    border: 0;
}

.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table thead {
    background: rgba(0, 0, 0, 0.06) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.checkout.woocommerce-checkout .cart-subtotal {
    background: rgba(0, 0, 0, 0.03) !important;
}

.checkout.woocommerce-checkout .order-total {
    background: rgba(0, 0, 0, 0.06) !important;
}

#bestseller {
    padding: 5px 25px 0 25px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#bestseller img,
#bestseller .btn {
    border-radius: 4px !important;
}

#bestseller .card-body {
    padding: 15px 0 10px 0;
}

#payment.woocommerce-checkout-payment label {
    display: inline-block;
    width: auto;
}

/*Tabs*/

.woocommerce div.product .woocommerce-tabs ul.tabs {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 0 1em !important;
    overflow: hidden !important;
    position: relative !important;
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none !important;
    background: none !important;
    display: inline-block !important;
    position: relative !important;
    z-index: 0 !important;
    margin: 0 1em 0 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    display: inline-block !important;
    padding: 0.5em 0 !important;
    font-weight: 700;
    text-decoration: none !important;
    color: #333333;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    text-decoration: none;
    color: #6b6a6b;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    z-index: 2;
    border-bottom-color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: inherit;
    text-shadow: inherit;
    outline: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
    content: ' ' !important;
    position: absolute !important;
    width: 100% !important;
    height: 3px !important;
    box-shadow: none !important;
    top: 0 !important;
    left: 0 !important;
    border-radius: 0 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
    border: none !important;
    box-shadow: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before, .woocommerce div.product .woocommerce-tabs ul.tabs li::after {
    content: ' ';
    position: absolute !important;
    bottom: -1px !important;
    width: 5px !important;
    height: 5px !important;
    border: none !important;
    box-shadow: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    position: absolute;
    content: ' ';
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #d3ced2;
    z-index: 1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs.tabs::before {
    display: none;
    border: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
    background: #0274be;
}

.woocommerce table.shop_attributes td p {
    padding: 0 !important;
}

.woocommerce-Tabs-panel h2 {
    font-weight: normal !important;
    font-size: 1.5rem !important;
    margin-bottom: 0.7em !important;
}

.woocommerce div.product .woocommerce-tabs .shop_attributes td {
    padding: .5em .5em .5em .9em !important;
}

.woocommerce #reviews #review_form {
    border: 2px solid #efefef !important;
    padding: 1em 1.9em 2.3em !important;
}

.woocommerce .comment-reply-title {
    font-size: 1.5rem !important;
    line-height: 1.3 !important;
}

.woocommerce .comment-form label {
    font-weight: normal !important;
}

/*End : Tabs*/
.woocommerce div.product .product_title {
    font-weight: 500 !important;
}

.woocommerce ins {
    text-decoration: none;
}

.woocommerce div.product .product_meta > span {
    display: block;
}

.card.woo-product-card img,
.attire-featured-media img {
    margin: 0;
    display: block;
    width: 100%;
    height: auto;
}

nav.woocommerce-pagination ul {
    display: inline-block !important;
    text-align: center !important;
    white-space: nowrap !important;
    padding: 0 !important;
    clear: both !important;
    border: 0 !important;
    margin: 1px !important;
}

nav.woocommerce-pagination ul li {
    margin: 0 5px 5px 0 !important;
    border: 1px solid #d3ced2 !important;
    padding: 0 !important;
    float: left !important;
    display: inline !important;
    overflow: hidden !important;
}

nav.woocommerce-pagination ul li a, nav.woocommerce-pagination ul li span {
    margin: 0 !important;
    text-decoration: none !important;
    line-height: 1 !important;
    font-size: 1em !important;
    font-weight: normal !important;
    padding: 0.75em !important;
    display: block !important;
    min-width: 2.5em !important;
}

nav.woocommerce-pagination ul li span.current, nav.woocommerce-pagination ul li a:hover, nav.woocommerce-pagination ul li a:focus {
    background: #1a2228 !important;
    color: #ffffff !important;
}

.woocommerce table.shop_table {
    padding: 0 !important;
}

.woocommerce .cart .button, .woocommerce form.checkout_coupon.woocommerce-form-coupon button {
    padding: 10px 40px !important;
    display: inline-block !important;
    width: auto !important;
}

.woocommerce input#coupon_code {
    max-height: 35px !important;
    float: left !important;
    box-sizing: border-box !important;
    border: 1px solid #d3ced2 !important;
    margin: 0 4px 0 0 !important;
    outline: 0 !important;
    line-height: 1 !important;
    padding: .5em .75em !important;
    width: auto !important;
    text-align: left !important;
}

.woocommerce .cart input.button:disabled[disabled] {
    color: #000 !important;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    width: auto !important;
    border-radius: 3px !important;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    width: 100% !important;
    border-radius: 3px !important;
}

.woocommerce-NoticeGroup-checkout ul {
    margin-left: 0 !important;
}

/*My account*/
.woocommerce-MyAccount-navigation-link {
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-width: 0;
}

.woocommerce-MyAccount-navigation-link:last-child {
    border-bottom-width: 1px;
}

.woocommerce-MyAccount-navigation-link a {
    display: block;
    padding: .5em 1em;
}

.woocommerce-MyAccount-navigation > ul {
    margin: 0;
}

.woocommerce-account .woocommerce-EditAccountForm .woocommerce-Button {
    margin-top: 1em;
    margin-left: 3px;
}

.woocommerce-account .edit-account fieldset label {
    margin-right: auto;
}

.woocommerce .button {
    color: #fff !important;
    background-color: #1a2228 !important;
}

.woocommerce-cart-form .shop_table .coupon .input-text {
    width: 8.313rem;
}

.variations_form .variations .value > select {
    margin-bottom: 0.625rem;
}

.woocommerce-MyAccount-content .col-1,
.woocommerce-MyAccount-content .col-2 {
    max-width: 100%;
}

.woocommerce nav.woocommerce-pagination ul {
    border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
    padding: 0 5px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: none;
}

.woocommerce .col-1, .woocommerce .col-2 {
    max-width: none;
}

.woocommerce .password-input, .woocommerce-form-login__rememberme {
    width: 100%;
}