/** wpdm  page styles **/
#theme-user-dashboard .panel-body .panel-row {
    display: flex;
}

#theme-user-dashboard.user-dashboard {
    background-color: transparent;
    padding: 0px;
    border-radius: 6px;
    margin-top: 20px;
}

#theme-user-dashboard.user-dashboard .table thead th {
    border-bottom: 1px solid #e5e5e5;
}

#theme-user-dashboard.user-dashboard .table thead th:last-child,
#theme-user-dashboard.user-dashboard .table tbody td:last-child {
    text-align: right;
}

#theme-user-dashboard #wpdm-dashboard-sidebar {
    padding: 15px;
    width: 240px;
    background: var(--color-main-nav-bg);
    border-radius: 4px;
    margin-right: 25px;
    max-width: 100%;
}

.w3eden.author-dashbboard #wpdm-dashboard-sidebar .adp-item{
    color:  var(--color-main-nav-bg);
}

#theme-user-dashboard #wpdm-dashboard-sidebar .adp-item i {
    border-radius: 30px;
    box-shadow: none !important;
    padding-left: 2px;
}

#theme-user-dashboard #wpdm-dashboard-sidebar .udb-item, .w3eden #wpdm-dashboard-sidebar .adp-item {
    font-size: 12px;
    letter-spacing: +.6px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}

#theme-user-dashboard #wpdm-dashboard-sidebar .udb-item:hover, .w3eden #wpdm-dashboard-sidebar .adp-item:hover{
    color: rgba(255, 255, 255, 0.8);
}

#theme-user-dashboard .udb-item.selected {
    color: #ffffff !important;
}

#theme-user-dashboard.user-dashboard #wpdm-dashboard-sidebar i {
    color: rgba(255, 255, 255, 0.3) !important;
    background: transparent !important;
}

#theme-user-dashboard #wpdm-dashboard-sidebar .udb-item.selected i {
    color: #ffffff !important;
    background: rgba(255, 255, 255, 0.2) !important;
}

#theme-user-dashboard i.udbsap {
    width: 34px;
    background: rgba(255, 255, 255, 0.5);
}

#theme-user-dashboard #wpdm-dashboard-sidebar h3 {
    font-family: var(--wpdm-font);
    letter-spacing: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.2);
    margin: 15px 0 15px 0;
    font-weight: 700;
}

#theme-user-dashboard #wpdm-dashboard-sidebar #logo-block img {
    border-radius: 6px;
    border: 1px solid rgba(69, 89, 122, 0.5);
}


#theme-user-dashboard .card {
    overflow: visible;
    background: #fff !important;
    border-color: #e5e5e5;
}

#theme-user-dashboard .card h3 {
    font-weight: 500;
    letter-spacing: 1px;
}

#theme-user-dashboard #wpdm-dashboard-contents .nav-tabs a {
    color: #00b182;
    opacity: .4;
}

#theme-user-dashboard #wpdm-dashboard-contents .nav-tabs a.active {
    color: #00b182;
    opacity: 1;
}

#theme-user-dashboard #wpdm-dashboard-contents .nav-tabs a:hover {
    color: #00b182;
    opacity: .7;
}

#theme-user-dashboard .card-header {
    padding: 15px 20px 15px;
    background-color: transparent;
    color: #666;
    font-weight: 500;
}

#theme-user-dashboard .card-body {
    padding: 20px;
}

#theme-user-dashboard .card-body img {
    margin: 0;
}

#theme-user-dashboard .card-body h3 {
    margin: 0;
    font-size: 16px;
    color: #666;
}

#theme-user-dashboard .table td,
#theme-user-dashboard .table th {
    padding: 12px 20px;
}

.wpdm-rec-item a {
    font-weight: 500;
}

/* purchase */
.w3eden .card h3.wpdmpp-product-price {
    margin-bottom: 10px;
}

#theme-user-dashboard .card .card-footer {
    border-color: #e5e5e5;
}

.wpdmpp-all-orders-title {
    font-size: 18px;
}

#theme-user-dashboard .card-header {
    padding-bottom: 10px;
}

#theme-user-dashboard .card-header .pull-right {
    float: right;
    font-size: 11px;
    font-weight: 700;
    word-spacing: 3px;
}

#theme-user-dashboard .card .card-footer {
    font-size: 12px;
    color: #777 !important;
}

#theme-user-dashboard .card .card-footer:hover {
    color: #666666 !important;
}

.item:last-child td {
    border-bottom: 0 !important;
}

/** WPDM Styles :: END **/
